@import "../../.cache/wal/colors-waybar.css";

* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
}

#waybar {
    background: transparent; /* Bar utama hilang */
}

/* Kotak Modul HUD */
#clock,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery,
#tray,
#workspaces {
    background: alpha(@background, 0.5); /* Background sangat tipis */
    border: 2px solid @color4; /* Garis tepi menyala */
    color: @color4;
    margin: 8px 4px;
    padding: 0px 12px;
    border-radius: 2px; /* Sudut tajam agar terlihat industrial */
    /* Efek Glow Neon */
    box-shadow: 0 0 5px alpha(@color4, 0.4); 
}

/* Memberi warna berbeda untuk tiap sisi agar tidak monoton */
#workspaces {
    border: 2px solid @color6;
    color: @color6;
    padding-left: 2px;
}
#workspaces button {
    color: @color6;
    padding: 0 6px;
}

#workspaces button.active {
    background: @color6;
    color: @background;
}

/* State khusus untuk Battery Warning */
#battery.warning, #battery.critical {
    border-color: @color1;
    color: @color1;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        border-color: transparent;
    }
}

/* Hover Effect: Border menebal dan warna invert */
#clock:hover, #network:hover, #pulseaudio:hover {
    background: @color4;
    color: @background;
    transition: 0.2s;
}