/* Mengambil warna dari Pywal */
@import "../../.cache/wal/colors-waybar.css";

*{
    font-family: 'JetBrains Mono Nerd Font', monospace;
    font-size: 14px;
}

/* Waybar base */
window#waybar {
    background: transparent;
}

/* Tooltip */
tooltip {
    background: @background;
    border: 1px solid @color4;
    border-radius: 12px;
}

tooltip label {
    color: @foreground;
    padding: 6px;
}

/* Container Styles */
.modules-left {
    background-color: @color0;
    border: 0.5px solid @color15;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 5px;
    margin-left: 5px;
}

.modules-right {
    background-color: @color0;
    border: 0.5px solid @color15;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 5px;
    margin-right: 5px;
}

/* Left Modules */
#clock {
    padding-right: 12px;
    color: @foreground;
    padding-top: 1px;
}

#battery {
    padding-right: 12px;
    color: @foreground;
    padding-top: 1px;
}

#battery.warning {
    color: @color3;
}

#battery.critical:not(.charging) {
    color: @color1;
}

/* Workspaces */
#workspaces button {
    color: @color2;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    color: @foreground;
    background-color: @color2;
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.focused {
    color: @color4;
}

#workspaces button.urgent {
    color: @accent;
    border-radius: 10px;
    background-color: @color1;
}

#workspaces button:hover {
    color: @color4;
    padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

/* Right Modules */
#network {
    color: @color4;
    padding-left: 10px;
    padding-right: 10px;
}

#network.disconnected {
    color: @color8;
}

#pulseaudio {
    color: @color6;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
}

#pulseaudio.muted {
    color: @color8;
}

#tray {
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 2px;
}

#tray menu {
    background: @background;
    color: @foreground;
}

/* Fix SwayNC Icon & Spacing */
#custom-notification {
    color: @color4;
    padding-left: 5px;  /* Kurangi dari 20px agar tidak terlalu lebar */
    padding-right: 5px;
    margin: 0;           /* Pastikan tidak ada margin yang mendorong bar */
    font-size: 16px;     /* Atur ukuran icon agar sejajar dengan modul lain */
    min-width: 20px;
}