@import "colors/catppuccin.css";

* {
    font-family: "JetBrainsMono Nerd Font Propo", monospace;
    font-size: 13px;
    border: none;
}

/* Waybar base */
window#waybar {
    background: transparent;
}

/* Tooltip */
tooltip {
    background: @ctp-base;
    border: 1px solid @ctp-surface1;
    border-radius: 12px;
}

tooltip label {
    color: @ctp-text;
    padding: 6px;
}

/* Workspaces container */
#workspaces {
    background: @ctp-base;
    padding: 5px 6px;
    margin-left: 5px;
    border-radius: 18px;
    border: 1px solid @ctp-surface1;
}

/* Workspace buttons */
#workspaces button {
    padding: 2px 5px;
    margin: 0 3px;
    border-radius: 999px;
    color: @ctp-mauve;
    background: transparent;
    transition: all 0.25s ease;
}

/* Active workspace */
#workspaces button.active {
    background: @ctp-mauve;
    color: @ctp-mauve;
    min-width: 35px;
}

/* Hover */
#workspaces button:hover {
    background: @ctp-mauve;
    color: @ctp-mauve;
    min-width: 50px;
}

/* Urgent */
#workspaces button.urgent {
    background: @ctp-red;
    color: @ctp-crust;
}

/* Module islands */
#battery,
#pulseaudio,
#network,
#clock,
#custom-notification {
    background: @ctp-base;
    color: @ctp-mauve;
    padding: 4px 15px;
    margin-left: 5px;
    border-radius: 999px;
    border: 1px solid @ctp-surface1;
}

#network{
    color: @ctp-mauve;
}

#battery{
    color: @ctp-blue;
}

#clock{
    color: @ctp-blue;
}
#custom-power{
    color: @ctp-mauve;
    background-color: @ctp-base;
    min-width: 50px;
    border-radius: 999px;
}
#tray{
    background-color: @ctp-base;
    color: @ctp-red;
    border-radius: 18px;
    min-width: 70px;
    margin-left: 5px;
}